$font-heading: 'Volkhov', serif;
$font-primary: 'Poppins', sans-serif;

$color-dark: #212832;
$color-dark-300: #5E6282;
$color-dark-100: #84829A;
$color-orange: #DF6951;
$color-yellow: #F1A501;
$color-white: #FFFFFF;
$color-grey: #686D77;
$color-grey-300: #F5F5F5;
$color-green: #006380;
$color-black: #080809;
$color-purple: #8A79DF;